@model IEnumerable<Steganografia.ViewModels.Home.ConversationMessageViewModel>
<h2>Messages</h2>
<div class="messagesList">
	@if (Model.Any())
	{
		Html.RenderPartial("ConversationMessagesList", Model);
	}
	else
	{
	<div class="alert alert-info" role="alert">There are no messages.</div>
	}
</div>

<div class="newMessage">
	@{
		Html.RenderPartial("CreateMessage", new Steganografia.ViewModels.Home.CreateMessageViewModel() { ConversatonId = ViewBag.ConversatonId });
	}
</div>