@model Steganografia.ViewModels.Home.CreateMessageViewModel

@using (Html.BeginForm("CreateMessage", "Home", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div>
		@Html.HiddenFor(x => x.ConversatonId)
		<div>
			@Html.TextAreaFor(x => x.Message)
			@Html.ValidationMessageFor(x => x.Message)
		</div>
		<input type="submit" value="Send" class="btn btn-default" />
	</div>
}
