@model IEnumerable<Steganografia.ViewModels.Home.ConversationViewModel> 
@{
    ViewBag.Title = "Piekar Site";
}
<div class="conversationsBody">
    <div class="row">
        <div class="col-sm-3 conversations">
            @{
                Html.RenderPartial("Conversations", Model);
            }
        </div>
        <div class="col-sm-9 ">
            <div class="messages"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            initializeConversations();
        });
    </script>
}
